In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [3]:
df = pd.read_csv("Home_Prices10.csv")
df

   area   bedrooms  age  prices
0   2600       3.0   20   55000
1   3000       4.0   15   56500
2   3200       NaN   18   61000
3   3600       3.0   30   59500

In [32]:
df.bedrooms.median()

AttributeError: 'Series' object has no attribute 'bedrooms'