In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('insurance23.csv')

In [3]:
df

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
df.select_dtypes('object')

         sex smoker     region
0     female    yes  southwest
1       male     no  southeast
2       male     no  southeast
3       male     no  northwest
4       male     no  northwest
...      ...    ...        ...
1333    male     no  northwest
1334  female     no  northeast
1335  female     no  southeast
1336  female     no  southwest
1337  female    yes  northwest

[1338 rows x 3 columns]

In [6]:
df.select_dtypes('object').columns

Index(['sex', 'smoker', 'region'], dtype='object')

In [7]:
df.sex.unique()

array(['female', 'male'], dtype=object)

In [8]:
df.smoker.unique()

array(['yes', 'no'], dtype=object)

In [9]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [10]:
df['sex'] = df['sex'].replace({'male': 0,'female': 1})

In [11]:
df['smoker']  = df['smoker'].map({'yes': 1,'no': 0})

In [12]:
df.head()

   age  sex   bmi  children  smoker     region  expenses
0   19    1  27.9         0       1  southwest  16884.92
1   18    0  33.8         1       0  southeast   1725.55
2   28    0  33.0         3       0  southeast   4449.46
3   33    0  22.7         0       0  northwest  21984.47
4   32    0  28.9         0       0  northwest   3866.86

In [13]:
dummies = pd.get_dummies(df['region'],drop_first= True)

In [14]:
dummies

      northwest  southeast  southwest
0             0          0          1
1             0          1          0
2             0          1          0
3             1          0          0
4             1          0          0
...         ...        ...        ...
1333          1          0          0
1334          0          0          0
1335          0          1          0
1336          0          0          1
1337          1          0          0

[1338 rows x 3 columns]

In [15]:
df = pd.concat([df,dummies],axis = 'columns')

In [16]:
df.head()

,age,sex,bmi,children,smoker,region,expenses,northwest,southeast,southwest
0,19,1,27.9,0,1,southwest,16884.92,0,0,1
1,18,0,33.8,1,0,southeast,1725.55,0,1,0
2,28,0,33.0,3,0,southeast,4449.46,0,1,0
3,33,0,22.7,0,0,northwest,21984.47,1,0,0
4,32,0,28.9,0,0,northwest,3866.86,1,0,0

In [17]:
df = df.drop(['region'],axis = 'columns')

In [18]:
df.head()

   age  sex   bmi  children  smoker  expenses  northwest  southeast  southwest
0   19    1  27.9         0       1  16884.92          0          0          1
1   18    0  33.8         1       0   1725.55          0          1          0
2   28    0  33.0         3       0   4449.46          0          1          0
3   33    0  22.7         0       0  21984.47          1          0          0
4   32    0  28.9         0       0   3866.86          1          0          0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        1338 non-null   int64
 1   sex        1338 non-null   int64
 2   bmi        1338 non-null   float64
 3   children   1338 non-null   int64
 4   smoker     1338 non-null   int64
 5   expenses   1338 non-null   float64
 6   northwest  1338 non-null   uint8
 7   southeast  1338 non-null   uint8
 8   southwest  1338 non-null   uint8
dtypes: float64(2), int64(4), uint8(3)
memory usage: 66.8 KB

In [20]:
df.isna().sum()

age          0
sex          0
bmi          0
children     0
smoker       0
expenses     0
northwest    0
southeast    0
southwest    0
dtype: int64

In [21]:
df.isna().sum().sum()

0

In [22]:
df.describe()

,age,sex,bmi,children,smoker,expenses,northwest,southeast,southwest
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,0.494768,30.665471,1.094918,0.204783,13270.422414,0.242900,0.272048,0.242900
std,14.049960,0.500160,6.098382,1.205493,0.403694,12110.011240,0.428995,0.445181,0.428995
min,18.000000,0.000000,16.000000,0.000000,0.000000,1121.870000,0.000000,0.000000,0.000000
25%,27.000000,0.000000,26.300000,0.000000,0.000000,4740.287500,0.000000,0.000000,0.000000
50%,39.000000,0.000000,30.400000,1.000000,0.000000,9382.030000,0.000000,0.000000,0.000000
75%,51.000000,1.000000,34.700000,2.000000,0.000000,16639.915000,0.000000,1.000000,0.000000
max,64.000000,1.000000,53.100000,5.000000,1.000000,63770.430000,1.000000,1.000000,1.000000

In [23]:
x = df.drop(['expenses'],axis = 'columns')

In [24]:
y = df['expenses']

In [25]:
x

      age  sex   bmi  children  smoker  northwest  southeast  southwest
0      19    1  27.9         0       1          0          0          1
1      18    0  33.8         1       0          0          1          0
2      28    0  33.0         3       0          0          1          0
3      33    0  22.7         0       0          1          0          0
4      32    0  28.9         0       0          1          0          0
...   ...  ...   ...       ...     ...        ...        ...        ...
1333   50    0  31.0         3       0          1          0          0
1334   18    1  31.9         0       0          0          0          0
1335   18    1  36.9         0       0          0          1          0
1336   21    1  25.8         0       0          0          0          1
1337   61    1  29.1         0       1          1          0          0

[1338 rows x 8 columns]

In [26]:
y

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1333    10600.55
1334     2205.98
1335     1629.83
1336     2007.95
1337    29141.36
Name: expenses, Length: 1338, dtype: float64

In [27]:
from sklearn.model_selection import train_test_split

In [41]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [28]:
X_train,X_test,y_train,y_test = train_test_split(x,y,train_size = 0.2)

In [52]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [53]:
X_train

array([[ 0.83237243, -1.04993438, -0.33868887, ..., -0.60186784,
        -0.60186784,  1.81836509],
       [ 1.9635742 ,  0.95244047,  0.3965138 , ...,  1.66149432,
        -0.60186784, -0.54994456],
       [ 0.37989173, -1.04993438, -1.8090942 , ..., -0.60186784,
         1.66149432, -0.54994456],
       ...,
       [ 0.15365138,  0.95244047,  0.36231832, ...,  1.66149432,
        -0.60186784, -0.54994456],
       [-0.44965623,  0.95244047,  2.31146027, ..., -0.60186784,
         1.66149432, -0.54994456],
       [-0.90213694,  0.95244047, -0.18480924, ..., -0.60186784,
        -0.60186784, -0.54994456]])

In [54]:
X_test

array([[ 0.38565685, -0.97509983, -1.66687109, ..., -0.55757826,
         1.62950609, -0.57052173],
       [-1.30251135,  1.02553602,  0.33110829, ...,  1.79347022,
        -0.61368289, -0.57052173],
       [-1.37285169,  1.02553602, -1.0171217 , ..., -0.55757826,
         1.62950609, -0.57052173],
       ...,
       [ 1.44076197, -0.97509983,  1.50065719, ..., -0.55757826,
        -0.61368289,  1.7527816 ],
       [-1.44319203,  1.02553602, -0.80595315, ...,  1.79347022,
        -0.61368289, -0.57052173],
       [-0.52876759, -0.97509983,  2.57274369, ..., -0.55757826,
         1.62950609, -0.57052173]])

In [55]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [56]:
reg.fit(X_train,y_train)

LinearRegression()

In [57]:
reg.score(X_test,y_test)

0.7454892177192864

In [58]:
from sklearn.svm import SVC
svm = SVC()

In [59]:
svm.fit(X_train,y_train)

ValueError: Unknown label type: 'continuous'

In [60]:
from sklearn.tree import  DecisionTreeClassifier
tree = DecisionTreeClassifier()

In [61]:
tree.fit(X_train,y_train)

ValueError: Unknown label type: 'continuous'