In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [4]:
#'utf-8' codec can't decode byte 0xc6 in position 27: invalid continuation byte

In [5]:
data = pd.read_csv('all-data.csv',encoding = 'latin-1')

In [6]:
data

,neutral,"According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing ."
0,neutral,Technopolis plans to develop in stages an area...
1,negative,The international electronic industry company ...
2,positive,With the new production plant the company woul...
3,positive,According to the company 's updated strategy f...
4,positive,FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...
...,...,...
4840,negative,LONDON MarketWatch -- Share prices ended lower...
4841,neutral,Rinkuskiai 's beer sales fell by 6.5 per cent ...
4842,negative,Operating profit fell to EUR 35.4 mn from EUR ...
4843,negative,Net sales of the Paper segment decreased to EU...
4844,negative,Sales in Finland decreased by 10.5 % in Januar...

In [7]:
# label text remane columns

In [9]:
data = pd.read_csv('all-data.csv',encoding = 'latin-1',names =['label','text'])

In [10]:
data

         label                                               text
0      neutral  According to Gran , the company has no plans t...
1      neutral  Technopolis plans to develop in stages an area...
2     negative  The international electronic industry company ...
3     positive  With the new production plant the company woul...
4     positive  According to the company 's updated strategy f...
...        ...                                                ...
4841  negative  LONDON MarketWatch -- Share prices ended lower...
4842   neutral  Rinkuskiai 's beer sales fell by 6.5 per cent ...
4843  negative  Operating profit fell to EUR 35.4 mn from EUR ...
4844  negative  Net sales of the Paper segment decreased to EU...
4845  negative  Sales in Finland decreased by 10.5 % in Januar...

[4846 rows x 2 columns]

In [118]:
data.isna().sum()

label    0
text     0
dtype: int64

In [ ]:
result = data['label'].val

In [91]:
def preprocessing_inputs(df):
    df= df.copy()
    # labes columns encoding
    df['label'] = df.query("label==['negative','positive']")
    df['label'] =df['label'].fillna(df.label.mode()[0])
    df['label'] = df['label'].replace({'positive': 1,'negative': 0})
    y = df['label']
    X = df.drop(['label'],axis = 'columns')
    # train X 
    return X,y

In [92]:
X,y = preprocessing_inputs(data)

In [96]:
X_train = X.loc[:3825,:]

In [97]:
X_train

                                                   text
0     According to Gran , the company has no plans t...
1     Technopolis plans to develop in stages an area...
2     The international electronic industry company ...
3     With the new production plant the company woul...
4     According to the company 's updated strategy f...
...                                                 ...
3821  The decision will have to be made whether the ...
3822  The devices also contains Finnair 's own appli...
3823  The devices would be launched in the Chinese m...
3824  The Diameter Protocol is developed according t...
3825  The divested activities had net sales of EUR 1...

[3826 rows x 1 columns]

In [98]:
X_test = X.loc[3826:,]

In [99]:
X_test

                                                   text
3826  The divested company is part of TietoEnator 's...
3827  The dividend will come on top of the 0.45 eur ...
3828  The Division also includes joint sales , marke...
3829  The EA Reng group posted sales of approximatel...
3830  The EBRD is using its own funds to provide a 2...
...                                                 ...
4841  LONDON MarketWatch -- Share prices ended lower...
4842  Rinkuskiai 's beer sales fell by 6.5 per cent ...
4843  Operating profit fell to EUR 35.4 mn from EUR ...
4844  Net sales of the Paper segment decreased to EU...
4845  Sales in Finland decreased by 10.5 % in Januar...

[1020 rows x 1 columns]

In [101]:
y

0       1
1       1
2       0
3       1
4       1
       ..
4841    0
4842    1
4843    0
4844    0
4845    0
Name: label, Length: 4846, dtype: int64

In [107]:
y_train = y.loc[:3826,]

In [108]:
y_train

0       1
1       1
2       0
3       1
4       1
       ..
3822    1
3823    1
3824    1
3825    1
3826    1
Name: label, Length: 3827, dtype: int64

In [109]:
y_test = y.loc[3826:]

In [110]:
y_test

3826    1
3827    1
3828    1
3829    1
3830    1
       ..
4841    0
4842    1
4843    0
4844    0
4845    0
Name: label, Length: 1020, dtype: int64

In [111]:
from sklearn.feature_extraction.text import CountVectorizer

In [112]:
v = CountVectorizer()

In [113]:
from sklearn.naive_bayes import MultinomialNB,GaussianNB
GNB = GaussianNB()

In [114]:
MNB = MultinomialNB()

In [115]:
from sklearn.pipeline import Pipeline

In [116]:
clf = Pipeline([
    ('v',CountVectorizer()),
    ('GNB',MultinomialNB())
])

In [117]:
clf.fit(X_train,y_train)

ValueError: Found input variables with inconsistent numbers of samples: [1, 3827]